#message_processors-show
  %h2 
    == Message Processor: #{@object.name}
  .actions

  %table.data-table
    - %w{ name app_name status destination_name message_selector concurrency }.each do |method|
      = data_row( method.humanize, @object.send( method ) )

  .controls
    = link_to collection_path( :message_processors ), '<< Back'

