#message_processors-show
  %h2 
    == Message Processor: #{@object.name}
  .actions
    = @object.status == 'Started' ? action_button( @object, 'stop' ) : action_button( @object, 'start' )
  %table.data-table
    - %w{ name app_name status destination_name message_selector concurrency }.each do |method|
      = data_row( method.humanize, @object.send( method ) )

  .controls
    = link_to collection_path( :message_processors ), '<< Back'

