
%h1 Login

#login_form
  %p You need to login before continuing
  %form{:method=>'POST', :action=>login_path}
    %input{:type=>:text, :name=>:user}
    %input{:type=>:password, :name=>:password}
      %input{:type=>:submit, :value=>'Log in!'}
