#log-show
  %h2
    == Tailing #{@object.file_path}
    - if @object.parent 
      = " (from #{@object.parent.name})"

  #log  
    #ajax-spinner{:style => 'display: none'}
      %img{:src => url_for('/ajax-loader.gif')}
    %pre#log_output
      Fetching log...


:javascript
  tail_log( '#{json_url_for( object_action_path( @object, :tail ) )}', -1000, true )
