#services-index
  %table
    %tr
      %th Name 
      %th App
      %th Status
    - @collection.each do |service|
      %tr
        %td= link_to( object_path( service ), service.name )
        %td= service.app
        %td= service.status

      
